.aboutUsText,
.aboutUsQuote {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.aboutUsQuote {
  font-weight: bold;
  text-align: center;
  margin-top: 3rem;
}

@media screen and (max-width: 700px) {
  .aboutUsQuote {
    font-size: 80%;
  }
  .aboutUsText {
    font-size: 80%;
  }
}
