.cart-titles {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.cart-heading {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border-right: 2px solid #ccc;
}

.cart-info {
  margin-top: 1.5rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.products-in-cart {
  justify-self: center;
}

.price-total {
  justify-self: center;
}
