.cart-titles {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.cart-heading {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border-right: 2px solid #ccc;
}

.cart-info {
  margin-top: 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.price-total {
  flex: 2;
  justify-self: center;
  font-size: 2rem;
  margin-top: 0rem;
}

.cart-item,
.products-in-cart,
.cart-button {
  font-size: 2rem;
  justify-self: center;
  margin-top: 0rem;
}

.cart-item {
  flex: 1;
  margin-right: 10px;
  margin-left: 10px;
  word-break: break-word;
}

.cart-button {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: darkgray;
}

.cart-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 8px 0;
}

@media screen and (max-width: 1175px) {
  .cart-item,
  .products-in-cart,
  .cart-button {
    font-size: 1.5rem;
    justify-self: center;
  }
  .price-total {
    font-size: 1.5rem;
    justify-self: center;
  }
  .cart-titles {
    font-size: 2rem;
  }
}

@media screen and (max-width: 885px) {
  .cart-item,
  .products-in-cart,
  .cart-button {
    font-size: 1rem;
    justify-self: center;
  }
  .price-total {
    font-size: 1rem;
    justify-self: center;
  }
  .cart-titles {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .cart-item,
  .products-in-cart,
  .cart-button {
    font-size: 0.75rem;
    justify-self: center;
  }
  .price-total {
    font-size: 0.75rem;
    justify-self: center;
  }
  .cart-titles {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 450px) {
  .cart-item,
  .products-in-cart,
  .cart-button {
    font-size: 0.5rem;
    justify-self: center;
  }
  .price-total {
    font-size: 0.5rem;
    justify-self: center;
  }
  .cart-titles {
    font-size: 1rem;
  }
}
