.product-page-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0.5fr repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  background-color: lightgray;
  margin-top: 0.625rem;
}

#image {
  grid-area: 1 / 1 / 5 / 5;
  height: 37.5rem;
  align-self: center;
}
.lord-of-the-rings-information {
  grid-area: 1 / 6 / 5 / 8;
  background-color: white;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  border: 1px solid black;
  background-color: white;
}

.info-product {
  background-color: white;
}
