.product-page-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0.1fr repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  background-color: lightgray;
  margin-top: 0.625rem;
  border-radius: 2%;
}

#image {
  grid-area: 1 / 1 / 5 / 5;
  width: 100%;
  height: auto;
  max-height: 39rem;
  object-fit: contain;
  align-self: center;
  background-color: lightgray;
}
.lord-of-the-rings-information {
  grid-area: 1 / 6 / 5 / 8;
  background-color: white;
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  border: 0.063rem solid black;
  background-color: white;
  justify-self: center;
}

.info-product {
  background-color: white;
  padding-left: 0.625rem;
}

.price-and-cart {
  display: flex;
  background-color: white;
  justify-content: space-around;
  font-size: 1.5rem;
}

button {
  font-size: 1.375rem;
  background-color: lightgray;
}

.list-product {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.space {
  grid-area: 1/5/5/6;
  background-color: black;
}

@media screen and (max-width: 1300px) {
  .product-page-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  #image {
    grid-area: 1 / 1 / 2 / 2;
    max-height: 60vh;
  }
  .lord-of-the-rings-information {
    grid-area: 2 / 1 / 3 / 2;
  }
  .space {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 100%;
  }
  .info-product,
  .list-product,
  button {
    font-size: 80%;
  }
}
