.product-page-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0.1fr repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  background-color: lightgray;
  margin-top: 0.625rem;
  border-radius: 2%;
}

#image {
  grid-area: 1 / 1 / 5 / 5;
  height: 39.063rem;
  width: auto;
  max-width: 100%;
  object-fit: contain;
}
.lord-of-the-rings-information {
  grid-area: 1 / 6 / 5 / 8;
  background-color: white;
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  border: 0.063rem solid black;
  background-color: white;
  justify-self: center;
}

.info-product {
  background-color: white;
  padding-left: 0.625rem;
}

.price-and-cart {
  display: flex;
  background-color: white;
  justify-content: space-around;
  font-size: 1.5rem;
}

button {
  font-size: 1.375rem;
  background-color: lightgray;
}

.list-product {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.space {
  grid-area: 1/5/5/6;
  background-color: black;
}
