/*LOGO*/
#logo {
  font-size: 300%;
  font-family: "Playwrite CU Guides", cursive;
  font-weight: 400;
  font-style: normal;
  margin-top: 1.5rem;
  grid-row: 1;
}

/*FOOTER*/
footer {
  margin-top: 3rem;
  border-top: 1px solid black;
}

/*NAVIGATION*/

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*HEADER*/

header {
  display: grid;
  grid-template-rows: auto auto;
  text-align: center;
}

.nav {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 160%;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  border: 1px solid black;
}

.nav a {
  text-decoration: none;
  color: black;
}

* {
  background-color: aliceblue;
}

p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@media screen and (max-width: 700px) {
  .category-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
