/* EVERYTHING */

#logo {
  font-size: 300%;
}

footer {
  margin-top: 3rem;
  border-top: 1px solid black;
}
/* INDEX */

.main-img {
  width: 30rem;
}

/* BOOKS */

/* TOP BOOKS */

/* SALES */

/* ABOUT US */
