/*LOGO*/
#logo {
  font-size: 300%;
  font-family: "Playwrite CU Guides", cursive;
  font-weight: 400;
  font-style: normal;
  margin-top: 1.5rem;
  grid-row: 1;
  justify-self: center;
  grid-column: 2;
  margin-top: 1.5rem;
}

/*FOOTER*/
footer {
  margin-top: 3rem;
  border-top: 1px solid black;
}

/*NAVIGATION*/

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*HEADER*/

header {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr auto 1fr;
  text-align: center;
  width: 100%;
}

.nav {
  grid-column: 1/4;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 160%;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  border: 1px solid black;
  width: 100%;
}

.nav a {
  text-decoration: none;
  color: black;
}

* {
  background-color: aliceblue;
}

p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.material-symbols-outlined {
  /*Had help from ChatGPT to change size of icon as nothing i tried worked*/
  font-size: 3.75rem !important;
  text-decoration: none;
  color: black;
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  align-self: center;
  padding-right: 2rem;
}

@media screen and (max-width: 700px) {
  .category-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 700px) {
  .material-symbols-outlined {
    font-size: 2rem !important;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 700px) {
  #logo {
    font-size: 200%;
  }
}
