/*LOGO*/
#logo {
  font-size: 300%;
  font-family: "Playwrite CU Guides", cursive;
  font-weight: 400;
  font-style: normal;
  margin-top: 1.5rem;
  grid-row: 1;
}

/*FOOTER*/
footer {
  margin-top: 3rem;
  border-top: 1px solid black;
}

/*NAVIGATION*/

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*HEADER*/

header {
  display: grid;
  grid-template-rows: auto auto;
  text-align: center;
}

.nav {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 160%;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  border: 1px solid black;
}

.nav a {
  text-decoration: none;
  color: black;
}

/*MAIN TEXT*/

.mainText {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr) repeat(4, 0.5fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.main-img {
  grid-area: 1/1/4/4;

  justify-self: center;
  margin-top: 1rem;
  object-fit: scale-down;
}

.title {
  grid-area: 4/1/5/4;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: bold;
  justify-self: center;
}

.text1 {
  grid-area: 5/1/6/4;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

.text2 {
  grid-area: 6/1/7/4;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

.text3 {
  grid-area: 7/1/8/4;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

* {
  background-color: aliceblue;
}

p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.aboutUsText,
.aboutUsQuote {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.aboutUsQuote {
  font-weight: bold;
  text-align: center;
  margin-top: 3rem;
}
