.category-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  gap: 2rem;
}

.category-image {
  height: 300px;
  width: 200px;
  background-color: white;
}

figure {
  width: 200px;
  border: 2px solid black;
  border-radius: 10%;
  padding: 30px;
  background-color: white;
}

.productInformation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
}

.products {
  margin-bottom: 5px;
  color: black;
  min-height: 50px;
  background-color: white;
}

a {
  text-decoration: none;
}

button {
  background-color: white;
  color: black;
}

.price {
  background-color: white;
}
.title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  justify-self: center;
}

@media screen and (max-width: 1400px) {
  .category-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1050px) {
  .category-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  .category-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
