.category-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: baseline;
}

.category-image {
  height: 300px;
  width: 200px;
}

figure {
  width: 200px;
  height: 400px;
  border: 2px solid black;
  border-radius: 10%;
  padding: 30px;
}

.productInformation {
  display: flex;
  justify-content: space-between;
  color: black;
}

.products {
  margin-bottom: 5px;
  color: black;
  min-height: 50px;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1400px) {
  .category-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1050px) {
  .category-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  .category-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
